// -----------------------------------------------------------------------------
//  Objects > Nav-link
// -----------------------------------------------------------------------------

.nav-link {
  background: none;
  border: none;

  &:hover,
  &:focus {
    outline: none;
  }
}
