// -----------------------------------------------------------------------------
//  Objects > Quote
// -----------------------------------------------------------------------------

.quote {
  backdrop-filter: blur(10px);
  background-color: rgba($c-white, .8);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: $z-index-quote;

  &-image {
    height: 45px;
  }

  &-text {
    font-family: $font-family-accessory;
  }
}
