// -----------------------------------------------------------------------------
//  Settings > Typography
// -----------------------------------------------------------------------------
//  01. General
//  02. Font Family
//  03. Font size
//  04. Font weight
//  05. Line height
// -----------------------------------------------------------------------------

//  01. General
$font-inherit: inherit;

// 02. Font Family
$default-font-family: 'Playfair Display', 'Times New Roman', serif;
$font-family-accessory: 'Roboto', Arial, sans-serif;

//  03. Font size
$default-font-size: 16px;
